.num {
    background-color: rgb(58, 50, 50); 
    color: white;
    font-size:100px;
    width: 600px;
    margin: auto;
    margin-top: 150px;
    text-align: right;
    letter-spacing: 0.25em;

}
.num div {
    display: inline-block;
}
.buttons {
    width: 600px;
    margin: auto;
    background-color: black;
}



